@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css">
</head>
    
<body class="corpoInicio">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
               <h1 id="teste" class="text-center">Bem vindo ao meu Portfólio</h1>
               <p class="text-center">This is a sample portfolio page built with ASP.NET Core.</p>
           </div>
       </div>
   </div>
</body>