@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="container-apresentacao">
    <div class="perfil-container">
        <div class="borda-animada">
            <img src="~/Imagens/index.png" alt="Jefferson Rosa" class="foto-perfil" />
        </div>
        <div class="status-disponivel">🟢 Disponível</div>
    </div>


    <div class="apresentacao">
        <h1>Olá, eu sou <span class="nome-gradiente">Jefferson Rosa</span></h1>
        <p>
            Sou desenvolvedor de software com experiência em
            <span class="destaque">ASP.NET</span>, <span class="destaque">.NET</span>, <span class="destaque">C#</span>,
            <span class="destaque">SQL</span>, <span class="destaque">JavaScript</span>,
            <span class="destaque">HTML</span>, <span class="destaque">CSS</span> e testes unitários.
        </p>
        <p>Atualmente estou disponível para novos desafios profissionais.</p>

        <div class="botoes">
            <a asp-page="/Habilidades" class="btn-gradiente ver-mais">
                Ver mais <i class="fa-regular fa-eye icon-vermais"></i>
            </a>
            <a href="~/Arquivos/CV.pdf" download class="btn secundario btn-outline-success" target="_blank">Download CV</a>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}
