@page
@model SobreMimModel
@{
    ViewData["Title"] = "Sobre Mim";
}

<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css">
</head>


<p>Use this page to detail your site's privacy policy.</p>
